.task_Main_div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.task_row_div {
  background: white;
  max-width: 400px;
  /* max-height: 150px; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 1rem;
  display: grid;
}
.task_row_div:hover{
background-color: #b9b7ff;
/* max-height: 250px; */
}
.task_row_Inner_Item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.task_row_Inner_Item2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.list_Task {
  border: 0.5px solid;
  padding: 5px;
}

.newTask {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #d5f365;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.newTask:hover {
  box-shadow: 7px 5px 56px -14px #c3d900;
}

.newTask:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #c3d900;
}
.edit_task_button,
.delete_task_button {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 15px;
  border: none;
}
.Save_buttton {
  padding: 12px;
  background: #aa80ff;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  font-family: monospace;
}

.status_Box_Testing{
  padding: 0px 24px;
  background: #837fff;
  border-radius: 10px;
  /* max-width: 110px; */
  /* width: 100%; */
  display:flex;
  justify-content: center;
  
}
.status_Box_production{
  padding: 0px 24px;
  background:#64e19a;
  border-radius: 10px;
  /* max-width: 110px; */
  /* width: 100%; */
  display:flex;
  justify-content: center;
  
}
.status_Box_Work_In_Progess{
  padding: 0px 24px;
  background:rgb(255, 193, 127);
  border-radius: 10px;
  /* max-width: 110px; */
  /* width: 100%; */
  display:flex;
  justify-content: center;
  
}